/* General page style */
body {
    margin: 0;
    font-family: 'Montserrat',Helvetica, sans-serif;
    background-color: #101010;
}
  
/* General anchor tag style */
a {
    color: white;
}
  
/* Style for header */
.header {
    background-color: #101010;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid white;
    z-index: 3;
}

  /* turning off the bullet points in the unordered list */
.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #101010;
}

/* Styling individual anchor tags, make them block level elements so they can have padding and margin */
.header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #101010;
    text-decoration: none;
}

/* Syling the hover on the menu items */
.header li a:hover,
.header .menu-btn:hover {
    background-color: rgba(125, 131, 163, 0.858);
}

/* Make the current menu item stand out */
.current {
    background-color: rgba(125, 131, 163, 0.858);
}

/* Styling OUWC logo */
.header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 800;
}
  
/* Styling mobile menu and animations */
.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out; 
}
  
/* Styling hamburger menu icon */
/* Parent element that will float on the right on small screens*/
.header .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

/* Span element in the label to create the base of hamburger menu */
.header .menu-icon .nav-icon {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    transition: background .3s ease-out;
    width: 18px;
}

/* Using pseudo elements to create three bars that will be visible on a mobile view  */
.header .menu-icon .nav-icon:before,
.header .menu-icon .nav-icon:after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .3s ease-out;
    width: 100%;
}
  
.header .menu-icon .nav-icon:before {
    top: 5px;
}
  
.header .menu-icon .nav-icon:after {
    top: -5px;
}
  
/* menu btn */
/* hides the toggle*/ 
.header .menu-btn {
    display: none;
}

/* For when the menu botton is checked, we change height of the unordered list using the sibling selector ~
transition has been set in .header .menu*/
.header .menu-btn:checked ~ .menu {
    max-height: 100%;
}

/* Setting animations of the hamburger menu when clicked to turn into an 'X' when the mobile menu is expanded
This is the middle bar that will turn transparent to disappear*/
  
.header .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
}

/* Top and bottom bar of the menu swing 45 degrees to form 'X' */
.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top:0;
}
  
.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top:0;
}
  
/* Style for breadcrumbs menu */
.breadcrumbs{
    position: fixed;
    padding: 10rem 1rem;
    font-family: 'Montserrat', sans-serif ;
    font-size: 100%;
}
  
.breadcrumbs_items{
    display: inline-block;
}

/* > symbol between menu items */
.breadcrumbs_items:not(:last-of-type)::after{
    content: '\203a';
    margin: 0 5px;
    color: white;
}
  
/* Style form inputs */
input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
/* Style form label */
label {
    padding: 0 12px 12px 0;
    display: inline-block;
    color: white;
}
  
/* Submit button */
input[type=submit] {
    background-color: rgba(125, 131, 163, 0.858);
    color: white;
    padding: 12px 8rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
}
  
  
.container {
    border-radius: 5px;
    padding: 20rem 18rem;
}
  
/* Floating column for the form labels */
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}
  
/* Floating column for the form input boxes */
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}
  
/* Clears the float after the final column */
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
  
  
@media (min-width: 770px) {
  .header li {
      float: left;
      padding: 20px;
  }
  .header li a {
      padding: 20px 2px;
  }
  .header .menu {
      clear: none;
      float: left;
      max-height: none;
  }
  .header .menu-icon {
      display: none;
  }
}
  
@media (min-width: 1220px) {
    .header li {
      float: left;
      padding: 20px;
    }
}
  
@media screen and (max-width: 950px) {
    .col-25, .col-75, input[type=submit] {
          width: 100%;
          margin-top: 0;
        }
}
  
@media screen and (max-width: 580px) {
       .container{
            width: 75%;
        }
}

@media screen and (max-width: 780px) {
    input[type=submit] {
        background-color: rgba(125, 131, 163, 0.858);
        color: white;
        padding: 12px 12px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: left;
        margin-top: 2rem;
    }
}